In [83]:
# list of high schools
high_schools = ["Hernandez High School", "Figueroa High School", "Wilson High School", "Wright High School"]
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [84]:
# list of high schools
high_schools = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School", "Griffin High School", "Wilson High School", "Cabrera High School", "Bailey High School", "Holden high School", "Pena High School", "Wright High Schol", "Rodriguez high School", "Johnson High School", "Ford High School", "Thomas High School"]

In [85]:
# add the pandas dependency
import pandas as pd

In [86]:
# create a panda series from a list.
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden high School
9          Pena High School
10        Wright High Schol
11    Rodriguez high School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [87]:
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"}, {"School ID": 1, "school_name": "Figueroa High School", "type": "District"}, {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"}, {"School ID": 3, "school_name":"Hernandez High School", "type": "District"}, {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [88]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [102]:
# Three seperate lists of information on high schools
school_id = [0,1,2,3,4]
school_name = ["Huang High School","Figueroa High School", "Shelton High School","Hernndez High School","Griffin High School"]
type_of_school =["District","District","Charter","District","Charter"]

In [103]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [104]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["Type"] = type_of_school

# Print the DataFrame.

schools_df

   School ID           School Name      Type
0          0     Huang High School  District
1          1  Figueroa High School  District
2          2   Shelton High School   Charter
3          3  Hernndez High School  District
4          4   Griffin High School   Charter

In [105]:
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [106]:
# Convert to DataFrame.
high_school_df = pd.DataFrame(high_schools_dict)
high_school_df

   School ID           school_name      type
0          0     Huang High School  District
1          1  Figueroa High School  District
2          2   Shelton High School   Charter
3          3  Hernndez High School  District
4          4   Griffin High School   Charter

In [107]:
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [108]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [109]:
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [110]:
# Three seperate list of high school's information.

school_id = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]
school_name = ["Huang High School","Figueroa High School","Shelton High School","Hernandez High School","Griffin High School","Wilson High School","Cabrera High School","Bailey High School","Holden High School","Pena High School", "Wright High School","Rodriguez High School","Johnson High School","Ford High School","Thomas High School"]
type_of_school = ["District","District","Charter","District","Charter","Charter","Charter","District","Charter","Charter","Charter","District","District","District","Charter"]

In [111]:
# initialize a DataFrame
schools_df = pd.DataFrame()

In [112]:
# schools DataFrame

schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["Type"] = type_of_school

In [113]:
schools_df

    School ID            School Name      Type
0           0      Huang High School  District
1           1   Figueroa High School  District
2           2    Shelton High School   Charter
3           3  Hernandez High School  District
4           4    Griffin High School   Charter
5           5     Wilson High School   Charter
6           6    Cabrera High School   Charter
7           7     Bailey High School  District
8           8     Holden High School   Charter
9           9       Pena High School   Charter
10         10     Wright High School   Charter
11         11  Rodriguez High School  District
12         12    Johnson High School  District
13         13       Ford High School  District
14         14     Thomas High School   Charter